@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');

body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

main {
    justify-content: space-evenly;
    display: flex;
    margin-left: 20%;
    text-align: center;
}

nav {
    display: inline-block;
    vertical-align: top;
}

header {
    margin-left: 20%;
    width: 80%;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(208, 206, 206);
}

header span {
    display: inline-block;
    padding: 3%;
}

.selections {
    margin-left: 5%;
}

.left-panel {
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    display: inline-block;
    margin: 0;
}

.clock {
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 250%;
    padding: 10%;
    align-items: center;
}

.time {
    border-radius: 5px;
    vertical-align: middle;
}

.am-pm {
    color: gray;
    vertical-align: middle;
}

.icon {
    vertical-align: middle;
    float: right;
}

.line {
    padding: 0% 10% 10% 10%;
}

.line1 {
    width: 80%;
}

.elements {
    color: gray;
    display: flex;
    margin-right: 10%;
    margin-left: 10%;

}

.elements ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.elements li {
    padding: 10%;
    padding-left: 0;
    border-radius: 10px;
    margin-bottom: 5%;
}

.elements li:hover {
    cursor: pointer;
    background-color: grey;
    color: black;
}

.elements i {
    margin-right: 10%;
    padding-left: 10%;
}

footer {
    color: white;
    margin-bottom: 0;
    align-items: center;
}

footer p {
    text-align: center;
    max-width: 100%;
    padding: 10%;
}

.rooms:hover {
    cursor: pointer;
    background-color: rgb(160, 165, 169);
    transition: 1s;
}

.devices:hover {
    cursor: pointer;
    background-color: rgb(160, 165, 169);
    transition: 1s;
}

.user-cards-container {
    flex-wrap: nowrap;
    overflow-x: auto;
    display: flex;
    margin-left: 10%;
    width: 80%;
}

.user-device-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-device-cards-container i {
    font-weight: bold;
}

.user-device-card img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.user-device-card {
    display: inline-block;
    width: 300px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.user-device-card p {
    margin: 0;
    float: left;
}

.user-device-card:hover {
    cursor: pointer;
    background-color: rgb(160, 165, 169);
    transition: 1s;
}

.card {
    display: inline-block;
    width: 300px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card:hover {
    cursor: pointer;
    background-color: rgb(160, 165, 169);
    transition: 1s;
}

.card img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.cards-container {
    flex-wrap: wrap;
    display: flex;
    margin-left: 5%;
    align-items: center;
}

.cards-container i {
    font-weight: bold;
}

.device-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.device-cards-container i {
    font-weight: bold;
}

.device-card img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.device-card {
    display: inline-block;
    width: 300px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.device-card:hover {
    cursor: pointer;
    background-color: rgb(160, 165, 169);
    transition: 1s;
}

.my-button {
    background-color: white;
    color: rgba(0, 0, 0, 0.682);
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0);
    width: 100px;
    height: 45px;
    font-size: 14px;
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 5%;
}

.my-button:hover {
    background-color: black;
    color: gray;
    transition: 1s;
}

.title-button {
    display: flex;
}

.title-button h1 {
    margin-left: 22%;
}

.logout {
    float: right;
}

.logout:hover {
    background-color: black;
    color: gray;
    transition: 1s;
    cursor: pointer;
}

.line-device {
    width: 78%;
}

.request-tables {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.admin-container {
    margin: 20px;
}

.admin-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 12px;
    text-align: left;
}

thead {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
}

tbody tr:nth-child(even) {
    background-color: #fafafa;
}

tbody tr:hover {
    background-color: #eaf2fe;
}

.request-active {
    background-color: rgb(163, 57, 57);
    color: #eaf2fe;
}

.room-block {
    border-radius: 10px;
    background-color: rgb(208, 206, 206);
    padding: 10px;  
    margin-bottom: 10px;
    
}

.block-info {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 2px;
}

.block-info:hover {
    background-color: black;
    color: #eaf2fe;
    transition: 1s;
    cursor: pointer;
}
.block-info ul {
    list-style: none;
    padding: 0;
}
