@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');

body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

main {
    margin-left: 20%;
    text-align: center;
}

nav {
    display: inline-block;
    vertical-align: top;
}

header {
    margin-left: 20%;
    width: 80%;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(208, 206, 206);
}

header span {
    display: inline-block;
    padding: 3%;
}

.selections {
    margin-left: 5%;
}

.left-panel {
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    display: inline-block;
    margin: 0;
}

.clock {
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 250%;
    padding: 10%;
    align-items: center;
}

.time {
    border-radius: 5px;
    vertical-align: middle;
}

.am-pm {
    color: gray;
    vertical-align: middle;
}

.icon {
    vertical-align: middle;
    float: right;
}

.line {
    padding: 0% 10% 10% 10%;
}

.line1 {
    width: 80%;
}

.elements {
    color: gray;
    display: flex;
    margin-right: 10%;
    margin-left: 10%;

}

.elements ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.elements li {
    padding: 10%;
    padding-left: 0;
    border-radius: 10px;
    margin-bottom: 5%;
}

.elements li:hover {
    cursor: pointer;
    background-color: grey;
    color: black;
}

.elements i {
    margin-right: 10%;
    padding-left: 10%;
}


footer {
    color: white;
    margin-bottom: 0;
    align-items: center;
}

footer p {
    text-align: center;
    max-width: 100%;
    padding: 10%;
}

.users:hover {
    cursor: pointer;
    background-color: rgb(160, 165, 169);
    transition: 1s;
}

.devices:hover {
    cursor: pointer;
    background-color: rgb(160, 165, 169);
    transition: 1s;
}

.card {
    display: inline-block;
    width: 300px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card:hover {
    cursor: pointer;
    background-color: rgb(160, 165, 169);
    transition: 1s;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.cards-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-container i {
    font-weight: bold;
}

.device-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.device-cards-container i {
    font-weight: bold;
}

.device-card img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.device-card {
    display: inline-block;
    width: 300px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.device-card:hover {
    cursor: pointer;
    background-color: rgb(160, 165, 169);
    transition: 1s;
}

.my-button {
    background-color: white;
    color: rgba(0, 0, 0, 0.682);
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0);
    width: 100px;
    height: 45px;
    font-size: 14px;
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 5%;
}

.my-button:hover {
    background-color: black;
    color: gray;
    transition: 1s;
}

.title-button {
    display: flex;
}

.title-button h1 {
    margin-left: 25%;
}

.logout {
    float: right;
}

.logout:hover {
    background-color: black;
    color: gray;
    transition: 1s;
    cursor: pointer;
}